.card {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  transition: background 0.3s;
}
.night {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0 2px 8px rgba(145, 142, 142, 0.26);
  border-radius: 10px;
  transition: background-color .3s;
}
